.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}
.site-title{
    font-size: 3rem;
    color: rgb(173, 145, 85);
    font-weight: 700;
    margin: 3rem 0;
}
.heading {
    color: rgb(163, 112, 213);

}
.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;

}
.nav-link-item {
    padding-right: 2rem;

}
.nav-link-text {
    color: rgb(194, 194, 194);
}
body {
    background-color: rgb(27, 27, 30);
    color: rgb(187, 187, 187);
}
.hero {
    border:2px solid rgb(194, 194, 194);
}
input {
    margin-left: 10px;
}
.name {
    margin-left: 20px;
}
.email {
    margin-left: 22px;
}
.subject {
    margin-left: 10px;
}
.message {
    margin-top: 5px;

}

.form-group{
    padding: 10px;
    
}
